@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.bg-cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.show-image {
  width: 100%;
}

.table-style tr, .table-style td {
  border: 1px solid #eee;
}

.show-image-index {
  width: 200px;
  height: 200px;
}

.line-break {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
}

.wrap-search {
  background-color: #fff6c3;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: 500;
}

.wrap-search i {
  margin-right: 3px;
}

.active-menu {
  background-color: #007bff;
}

#ulti-bar {
  margin-top: 20px;
}

#ulti-bar .ulti-edit ul.ulti-head {
  display: block;
  padding: 10px;
  color: black;
  background-color: #eaeaea;
  position: relative;
}

#ulti-bar .ulti-edit ul.ulti-head li {
  display: inline-block;
}

#ulti-bar .ulti-edit ul.ulti-head li a {
  color: black;
}

#ulti-bar .ulti-edit ul.ulti-head li ul.ulti-head-dropdown {
  position: absolute;
  list-style: none;
  line-height: 1.5;
  display: none;
  background-color: #eaeaea;
  width: 100%;
  left: 0;
  padding: 10px;
}

#ulti-bar .ulti-edit ul.ulti-head li ul.ulti-head-dropdown li a {
  color: black;
}

#ulti-bar .ulti-edit ul.ulti-head:hover li ul.ulti-head-dropdown {
  display: block;
  z-index: 1;
}

#ulti-bar .ulti-edit ul.ulti-head:hover li ul.ulti-head-dropdown li:hover a {
  color: green;
}

.text-title-left {
  color: #37474f;
  padding: 20px 30px 20px 15px;
  font-size: 18px;
  display: block;
}

.text-title-right {
  padding: 20px 30px 20px 15px;
  background-color: #F2A654;
  width: 100%;
  display: block;
  color: white;
}

.cke_reset {
  border: none !important;
}

#seo-part h3 {
  display: block;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

#seo-part .content {
  background: white;
  padding: 10px 5px;
  line-height: 1.5;
}

#seo-part .content .show-pattern {
  margin-bottom: 20px;
}

#seo-part .content .show-pattern .title {
  font-size: 18px;
  color: #1a0dab;
}

#seo-part .content .show-pattern .link {
  max-width: 558px;
  color: #006621;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  display: block;
}

#seo-part .content .show-pattern .description {
  overflow: hidden;
  color: #545454;
  line-height: 18px;
  -webkit-line-clamp: 2;
  max-width: 1800px;
  display: block;
}

#seo-part .content ul.error-notice {
  list-style: none;
  padding: 5px 0;
  display: none;
}

#seo-part .content ul.error-notice li {
  font-style: italic;
}

#seo-part .content ul.error-notice li.right {
  color: green;
}

#seo-part .content ul.error-notice li.wrong {
  color: red;
}

#seo-part .content ul.error-notice li.near {
  color: orange;
}

.category-info {
  background-color: white;
  height: 200px;
  margin-top: 10px;
  overflow: scroll;
}

.category-info .check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: inherit !important;
}

.category-info .check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.category-info .check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.category-info .check-container:hover input ~ .check-mark {
  background-color: #ccc;
}

.category-info .check-container input:checked ~ .check-mark {
  background-color: #2196F3;
}

.category-info .check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.category-info .check-container input:checked ~ .check-mark:after {
  display: block;
}

.category-info .check-container .check-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/********** NESTABLE CSS **********/
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd .item_actions {
  position: relative;
  z-index: 9;
  top: 10px;
  right: 10px;
}

.dd .item_actions .delete, .dd .item_actions .edit {
  margin: 0 5px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  height: 50px;
  margin: 5px 0;
  padding: 14px 25px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 40px;
  height: 37px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

#nestable-menu {
  padding: 0;
  margin: 20px 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999));
  background: linear-gradient(to bottom, #bbb 0%, #999 100%);
}

.menus .table > tbody > tr > td {
  line-height: 44px;
}

#nestable2 .dd-handle:hover {
  background: #bbb;
}

#nestable2 .dd-item > button:before {
  color: #fff;
}

@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 100%;
  }
  .dd + .dd {
    margin-left: 2%;
  }
}

.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee));
  background: linear-gradient(to bottom, #fafafa 0%, #eee 100%);
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 30px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
  background: linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dd3-handle:before {
  content: '\2261';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #ddd;
}

/********** END NESTABLE CSS **********/
#config-text .nav-tabs--vertical {
  border-bottom: none;
  border-right: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#config-text .nav-tabs--left {
  margin: 0 15px;
}

#config-text .nav-tabs--left .nav-item + .nav-item {
  margin-top: .25rem;
}

#config-text .nav-tabs--left .nav-link {
  -webkit-transition: border-color .125s ease-in;
  transition: border-color .125s ease-in;
  white-space: nowrap;
}

#config-text .nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
}

#config-text .nav-tabs--left .nav-link.active {
  border-bottom-color: #ddd;
  border-right-color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
}

#config-text .nav-tabs--left .nav-link.active:hover {
  background-color: #fff;
  border-color: #0275d8 #fff #0275d8 #0275d8;
}

.title-header h2 {
  display: inline-block;
  font-size: 18px;
  height: 100px;
  line-height: 43px;
  margin-top: 3px;
  padding-top: 28px;
  color: #555;
  position: relative;
  font-weight: 700;
  margin-right: 20px;
}

.title-header a {
  background: #2ecc71;
  color: #fff;
  border: 0;
  border-radius: 3px;
  opacity: .9;
}

.wrap-index {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: scroll;
  overflow-y: hidden;
}

.wrap-index form#formSearchPost {
  padding: 30px 0;
}

.wrap-index form#formSearchPost button#btnSearchPost {
  margin-left: 10px;
}

.wrap-index table tr th .wrap-image {
  display: inline-block;
  width: 90px;
  text-align: center;
}

.wrap-index table tr th .wrap-image .image-flag {
  width: 24px;
  height: 20px;
  display: inline;
}

.wrap-index table td .group-locale {
  text-align: center;
}

.wrap-index table td .group-locale a {
  font-size: 27px;
}

.wrap-index table td a.edit-button {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #22A7F0;
}

.wrap-index table td input.delete-button {
  background-color: #FA2A00;
  padding: 5px 10px;
  font-size: 12px;
}

.wrap-create-edit {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 30px;
}

.wrap-create-edit .form-group {
  padding: 15px;
}

.delete-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delete-input span {
  background-color: red;
  color: white;
  display: block;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}
