@import url(https://fonts.googleapis.com/css?family=Arimo|Vollkorn+SC);@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Arimo", sans-serif !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.bg-cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#menu #menu_top {
  background-color: #F2F2F2;
}

#menu #menu_top img.menu_logo {
  height: 50px;
}

#menu #menu_top ul.menu-search {
  display: block;
  height: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_top ul.menu-search li input {
  height: 49px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: none;
}

#menu #menu_top ul.menu-search li a {
  padding: 15px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 47px;
  float: left;
}

#menu #menu_logo_center img {
  width: inherit;
}

#menu #menu_bottom {
  background-color: green;
}

#menu #menu_bottom .is_active {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu {
  display: block;
}

#menu #menu_bottom ul.main_menu li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

#menu #menu_bottom ul.main_menu li i {
  color: white;
  font-size: 16px;
  padding-right: 6px;
}

#menu #menu_bottom ul.main_menu li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#menu #menu_bottom ul.main_menu li:hover {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu li.has-item-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: #f2b142;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 160%;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li {
  display: block;
  padding-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li:hover {
  padding-left: 20px;
}

#menu #menu_bottom ul.main_menu li.has-item-down:hover > ul {
  display: block;
  opacity: 1;
}

#menu #menu_bottom ul.main_menu ul.menu-search {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search {
  padding: 0;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search input {
  height: 46px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: 1px solid #019934;
  border-left: none;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search a {
  padding: 16px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 46px;
}

#footer .top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100px;
}

#footer .top h4 {
  color: white;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Vollkorn SC', serif;
}

#footer .top .footer-logo {
  width: 70px;
  height: auto;
}

#footer .top .img-ser {
  width: 100px;
  height: 68px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

#footer .top .img-gallery {
  width: 100%;
  height: 68px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer .top p {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

#footer .top ul {
  padding-top: 20px;
  list-style-type: none;
}

#footer .top ul li {
  margin-bottom: 10px;
  min-height: 20px;
}

#footer .top ul li a {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

#footer .top ul li i {
  min-width: 35px;
  color: white;
  font-size: 18px;
}

#footer .top ul li .sc-nw i {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #6f6f6f;
  -webkit-transition: .6s;
  transition: .6s;
}

#footer .top ul li .sc-nw i:hover {
  background-color: #007bff;
  color: white;
}

#footer .top .blog ul li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

#footer .bottom {
  background-color: black;
}

#footer .bottom p {
  padding-top: 38px;
  padding-bottom: 38px;
  font-size: 14px;
  color: white;
}

#loiph-menu .top-info {
  background-color: green;
  padding-top: 10px;
  padding-bottom: 10px;
}

#loiph-menu .top-info i {
  color: white;
  margin-right: 6px;
}

#loiph-menu .top-info p {
  color: white;
  font-size: 14px;
}

#loiph-menu h4 {
  font-size: 25px;
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
}

#loiph-menu h6 {
  font-size: 12px;
  color: #6f6f6f;
}

#loiph-menu .main-menu {
  border-top: 1px solid #d7d3d3;
  -webkit-box-shadow: 0px 2px 2px 0px #888888;
          box-shadow: 0px 2px 2px 0px #888888;
}

#loiph-menu .main-menu ul {
  list-style-type: none;
}

#loiph-menu .main-menu ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#loiph-menu .main-menu ul li a {
  font-size: 17px;
  padding: 20px 12px;
  color: #1b1e21;
  font-family: 'Vollkorn SC', serif;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  text-transform: uppercase;
}

#loiph-menu .main-menu ul li a:hover {
  background-color: #0062cc;
  color: white;
  border-bottom: 2px solid #0062cc;
  border-top: 2px solid #0062cc;
}

#loiph-menu .main-menu ul li .search {
  margin-left: 20px;
  border: 1px solid #d7d3d3;
  padding: 6px;
  border-radius: 16px;
}

#loiph-menu .main-menu ul li .search input {
  border: none;
  padding: 0px 10px;
}

#loiph-menu .main-menu ul li .search input:focus {
  outline: none;
}

#loiph-menu .main-menu ul li .search button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#loiph-menu .main-menu .mobile-menu i {
  font-size: 24px;
  color: #004085;
}

#loiph-menu .main-menu .mobile-menu span {
  font-family: 'Vollkorn SC', serif;
  font-size: 20px;
  font-weight: bold;
}

#loiph-m-menu {
  width: 100% !important;
  position: relative;
  z-index: 100;
}

#loiph-m-menu h4 {
  font-size: 22px;
  color: #0062cc;
  font-weight: bold;
}

#loiph-m-menu h5 {
  font-size: 13px;
}

#loiph-m-menu .search-box {
  margin: 16px 0px;
  border: 2px solid #6f6f6f;
  background-color: #eae8e8;
}

#loiph-m-menu .search-box input {
  background-color: #eae8e8;
  border: none;
  width: calc(100% - 38px);
  padding: 10px 14px;
}

#loiph-m-menu .search-box input:focus {
  outline: none;
  background-color: white;
}

#loiph-m-menu .search-box button {
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background-color: transparent;
  border: none;
  border-left: 2px solid #6f6f6f;
}

#loiph-m-menu .search-box button i {
  font-size: 18px;
}

#loiph-m-menu .menu-content {
  width: 100%;
  background-color: #fff;
  position: absolute;
  height: 0px;
  opacity: 0;
  display: none;
  top: -100%;
  list-style-type: none;
  padding: 0px 8px;
  -webkit-transition: .6s;
  transition: .6s;
}

#loiph-m-menu .menu-content li {
  width: 100%;
  padding: 14px 16px;
  font-size: 14px;
}

#loiph-m-menu .menu-content li:not(:last-child) {
  border-bottom: 1px solid #6f6f6f;
}

#loiph-m-menu .menu-content li img {
  padding-top: 10px;
  padding-bottom: 10px;
}

#loiph-m-menu .menu-content li a {
  color: #1b1e21;
  -webkit-transition: .6s;
  transition: .6s;
}

#loiph-m-menu .menu-content li a:hover {
  color: #0062cc;
}

.slider .img-content {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 38px;
  overflow: hidden;
}

.slider h5 {
  font-family: 'Vollkorn SC', serif;
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
}

.slider h4 {
  font-family: 'Vollkorn SC', serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 20px auto;
  font-size: 50px;
  font-weight: bold;
}

.slider h6 {
  width: 60%;
  font-size: 17px;
  margin: auto;
  color: #6b6a6a;
}

@media only screen and (max-width: 800px) {
  .slider h5 {
    font-size: 22px;
  }
  .slider h4 {
    font-size: 26px;
  }
  .slider h6 {
    width: 90%;
  }
}

#slider2 .img-content {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 38px;
  overflow: hidden;
}

#slider2 .img-content .test-slide {
  position: absolute;
  text-align: center;
  width: 100%;
}

#slider2 .img-content .test-slide h5 {
  font-family: 'Vollkorn SC', serif;
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
}

#slider2 .img-content .test-slide h4 {
  font-family: 'Vollkorn SC', serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 20px auto;
  font-size: 50px;
  font-weight: bold;
}

#slider2 .img-content .test-slide h6 {
  width: 60%;
  font-size: 17px;
  margin: auto;
  color: #6b6a6a;
}

#slider2 .img-content .test-title {
  position: absolute;
  text-align: left;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.66);
  right: 0;
  padding: 20px 20px;
}

#slider2 .img-content .test-title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

@media only screen and (max-width: 800px) {
  #slider2 .img-content .test-slide h5 {
    font-size: 22px;
  }
  #slider2 .img-content .test-slide h4 {
    font-size: 26px;
  }
  #slider2 .img-content .test-slide h6 {
    width: 90%;
  }
  #slider2 .img-content .test-title {
    width: 80%;
  }
  #slider2 .img-content .test-title h4 {
    font-size: 15px;
  }
}

#h_1 {
  position: relative;
  z-index: 1;
}

#h_1 #top {
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#h_1 #top .box {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  border-radius: 3px;
}

#h_1 #top .box img {
  position: absolute;
  left: 50%;
  top: -43px;
  width: 86px;
  height: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#h_1 #top .box h5 {
  font-size: 30px;
}

#h_1 #top .box p {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  line-height: 20px;
}

#h_1 #top .box.left {
  background-color: #f7c052;
  margin-top: 6px;
}

#h_1 #top .box.middle {
  background-color: #34c663;
  padding-top: 65px;
  padding-bottom: 38px;
}

#h_1 #top .box.middle h5 {
  font-size: 30px;
}

#h_1 #top .box.middle img {
  width: 98px;
  height: auto;
}

#h_1 #top .box.right {
  background-color: #e85342;
  margin-top: 6px;
}

#h_1 #welcome {
  padding-top: 148px;
  padding-bottom: 38px;
  overflow-x: hidden;
}

#h_1 #welcome h5 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

#h_1 #welcome p {
  font-size: 15px;
  line-height: 20px;
}

#h_1 #welcome h6 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#h_1 #welcome h6 span {
  color: #0062cc;
}

#h_1 #welcome button.read-more {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #004085;
  font-size: 13px;
  border: none;
  padding: 6px 8px;
}

#h_1 #welcome button.read-more a {
  color: white;
}

#h_1 #welcome .register {
  background-color: #004085;
  width: 100%;
  text-align: center;
}

#h_1 #welcome .register input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

#h_1 #welcome .register textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

#h_1 #welcome .register button.submit-re {
  width: 90%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 38px;
}

#h_1 #welcome .register h4 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding-top: 26px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  #h_1 #top {
    position: relative;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  #h_1 #top .box img {
    position: relative;
    margin: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
  #h_1 #top .box.right {
    margin-top: 0px;
  }
  #h_1 #welcome {
    padding-top: 0px;
  }
}

#h_2 {
  overflow-x: hidden;
}

#h_2 h5 {
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 13px auto;
  font-size: 26px;
}

#h_2 h6 {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
}

#h_2 p.info {
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 20px;
}

#h_2 .wcu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
}

#h_2 .border {
  width: 68px;
  height: 68px;
  text-align: center;
  border-radius: 50%;
}

#h_2 .border img {
  width: 38%;
  margin-top: 30%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #h_2 p.info {
    width: 100%;
  }
}

#h_3 {
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 200px;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#h_3 .bg-top {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#h_3 .bg-top .cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 16, 48, 0.9);
}

#h_3 h5 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#h_3 .items {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 186px;
}

#h_3 .info h4 {
  font-size: 18px;
  color: #004085;
  font-weight: bold;
  margin-bottom: 16px;
}

#h_3 .info p {
  font-size: 15px;
  color: #6f6f6f;
  margin-bottom: 16px;
  line-height: 16px;
}

#h_3 .footer {
  width: 100%;
  background-color: #eaeaea;
  font-size: 14px;
  color: #e39a08;
}

#h_3 .footer a {
  color: #e39a08;
  font-weight: bold;
}

#h_4 {
  padding-top: 30px;
  padding-bottom: 50px;
  overflow-x: hidden;
  /* Style the tab */
  /* Style the tab content */
  /* Fade in tabs */
}

#h_4 h5 {
  font-size: 22px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 18px auto;
}

#h_4 p {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

#h_4 .tab {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  text-align: center;
}

#h_4 .tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  color: white;
  background-color: #004085;
}

#h_4 .tab button:hover {
  background-color: #f6af05;
  color: black;
}

#h_4 .tab button.active {
  position: relative;
  background-color: #f6af05;
  color: black;
}

#h_4 .tab button.active:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #f6af05;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#h_4 .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

#h_4 .tabcontent .items {
  width: 100%;
  height: 186px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#h_4 .tabcontent.active {
  display: block;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#h_4 .load-more {
  background-color: #f6af05;
  color: black;
  padding: 12px 16px;
  font-size: 13px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#h_5 h5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  overflow-x: hidden;
}

#h_5 .btn_next, #h_5 .btn_pre {
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background-color: #f6af05;
  border: none;
  cursor: pointer;
}

#h_5 .btn_next:focus, #h_5 .btn_pre:focus {
  outline: none;
}

#h_5 .project-items .img {
  width: 100%;
  height: 186px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#h_5 .project-items p {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 10px;
}

#h_5 .project-items a {
  font-size: 15px;
  color: #004085;
}

#h_5 .project-items h6 {
  font-weight: bold;
  color: #004085;
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 10px;
}

#h_5 .view-all {
  margin-top: 26px;
  margin-bottom: 20px;
  background-color: #f6af05;
  padding: 12px 20px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#scub-email {
  padding-top: 30px;
}

#scub-email .email {
  position: relative;
  width: 68%;
  height: auto;
  margin: auto;
}

#scub-email .email img {
  width: 100%;
  height: auto;
}

#scub-email .email .content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#scub-email .email .content p {
  line-height: 20px;
  font-size: 15px;
}

#scub-email .email .content .input-email {
  border-radius: 20px;
  border: 1px solid #6f6f6f;
  background-color: #fff;
  padding: 0px 3px;
}

#scub-email .email .content .input-email input {
  width: 80%;
  border: none;
  margin-left: 20px;
}

#scub-email .email .content .input-email input:focus {
  outline: none;
}

#scub-email .email .content .input-email button {
  padding: 8px 12px;
  border: none;
  background-color: #004085;
  color: white;
  cursor: pointer;
  margin: 3px 1px;
  border-radius: 18px;
  font-size: 14px;
}

#scub-email .email .content .input-email button i {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  #scub-email .email {
    width: 100%;
  }
  #scub-email .email .content {
    width: 70%;
  }
  #scub-email .email .content .input-email {
    border: none;
  }
  #scub-email .email .content .input-email input {
    width: 100%;
    margin: auto;
    padding: 8px 12px;
    border-radius: 18px;
    border: 1px solid #6f6f6f;
    margin-bottom: 6px;
  }
  #scub-email .email .content .input-email button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}

#phone-me {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-transition: .6s;
  transition: .6s;
}

#phone-me .cover {
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#phone-me .cover .content {
  width: 280px;
  border-radius: 3px;
  padding: 20px;
  background-color: #eaeaea;
  color: white;
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#phone-me .cover .content p {
  padding-bottom: 10px;
  color: #004085;
  font-size: 13px;
}

#phone-me .cover .content button {
  margin-top: 10px;
  width: 100%;
  padding: 8px 10px;
  border: none;
  background-color: #004085;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

#phone-me .cover .content input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid #6f6f6f;
}

#phone-me .cover .content .closed {
  position: absolute;
  right: -12px;
  top: -12px;
  z-index: 1001;
}

#phone-me .cover .content .closed i {
  cursor: pointer;
  font-size: 13px;
  border-radius: 50%;
  background-color: #0062cc;
  color: white;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  -webkit-transition: .6s;
  transition: .6s;
}

#phone-me .cover .content .closed i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#support {
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 48px;
}

#support:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 23, 66, 0.9);
  top: 0;
  left: 0;
  z-index: 0;
}

#support p {
  color: white;
}

#support h5 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}

#support button {
  background-color: #f6af05;
  color: black;
  border: none;
  font-size: 12px;
  padding: 14px 20px;
  cursor: pointer;
  font-weight: bold;
}

#banner-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

#banner-title h4 {
  font-family: 'Vollkorn SC', serif;
  font-size: 38px;
  font-weight: bold;
  color: white;
}

#banner-title ul {
  list-style-type: none;
}

#banner-title ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#banner-title ul li a {
  color: white;
  position: relative;
}

#banner-title ul li:not(:last-child) a {
  padding-right: 10px;
}

#banner-title ul li:not(:last-child) a:after {
  position: absolute;
  content: '/';
  right: 0;
}

#c_1 {
  padding-top: 58px;
  padding-bottom: 58px;
}

#c_1 h3 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Vollkorn SC', serif;
  position: relative;
  padding-bottom: 20px;
}

#c_1 h3:after {
  position: absolute;
  content: '';
  left: 0;
  top: 100%;
  width: 86px;
  height: 3px;
  background-color: #1b1e21;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

#c_1 p {
  padding-top: 20px;
  color: #6f6f6f;
  line-height: 20px;
  margin-bottom: 20px;
}

#c_1 input, #c_1 textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 14px;
  border-radius: 3px;
  border: 1px solid #6f6f6f;
}

#c_1 button {
  padding: 10px 16px 12px 16px;
  font-size: 14px;
  border-radius: 18px;
  border: none;
  background-color: #004085;
  color: white;
  cursor: pointer;
}

#c_1 button i {
  font-size: 16px;
}

#c_1 .info {
  padding: 20px 10px 10px 10px;
  border: 3px solid #0062cc;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#c_1 .info i {
  font-size: 26px;
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  line-height: 52px;
  border: 3px solid #0062cc;
  border-radius: 50%;
  background-color: #0062cc;
}

#au_1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#au_1 h3 {
  font-size: 36px;
  font-family: 'Vollkorn SC', serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

#au_1 h3:after {
  position: absolute;
  content: '';
  width: 68px;
  height: 3px;
  background-color: #1b1e21;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) skew(45deg);
          transform: translateX(-50%) skew(45deg);
}

#au_1 p {
  font-size: 15px;
  color: #6f6f6f;
}

#au_1 img {
  margin-top: 20px;
  margin-bottom: 20px;
}

#au_1 h5 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Vollkorn SC', serif;
}

#au_1 ul {
  margin-left: 20px;
}

#g_1 {
  padding-top: 30px;
  padding-bottom: 50px;
  overflow-x: hidden;
  /* Style the tab */
  /* Style the tab content */
  /* Fade in tabs */
}

#g_1 h5 {
  font-size: 28px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 18px auto;
  font-family: 'Vollkorn SC', serif;
}

#g_1 p {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

#g_1 .tab {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  text-align: center;
}

#g_1 .tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  color: white;
  background-color: #004085;
}

#g_1 .tab button:hover {
  background-color: #f6af05;
  color: black;
}

#g_1 .tab button.active {
  position: relative;
  background-color: #f6af05;
  color: black;
}

#g_1 .tab button.active:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #f6af05;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#g_1 .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

#g_1 .tabcontent .items {
  width: 100%;
  height: 186px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#g_1 .load-more {
  background-color: #f6af05;
  color: black;
  padding: 12px 16px;
  font-size: 13px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#s_1 {
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 200px;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#s_1 h5 {
  color: #1b1e21;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Vollkorn SC', serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 10px;
}

#s_1 h5:before {
  position: absolute;
  content: '';
  width: 68px;
  height: 3px;
  background-color: #1b1e21;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) skew(45deg);
          transform: translateX(-50%) skew(45deg);
}

#s_1 .items {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 186px;
}

#s_1 .info h4 {
  font-size: 18px;
  color: #004085;
  font-weight: bold;
  margin-bottom: 16px;
}

#s_1 .info p {
  font-size: 15px;
  color: #6f6f6f;
  margin-bottom: 16px;
  line-height: 16px;
}

#s_1 .footer {
  width: 100%;
  background-color: #eaeaea;
  font-size: 14px;
  color: #e39a08;
}

#s_1 .footer a {
  color: #e39a08;
  font-weight: bold;
}

#b_1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#b_1 .items {
  -webkit-transition: .6s;
  transition: .6s;
}

#b_1 .items:hover {
  -webkit-box-shadow: 0px 1px 2px 2px #6f6f6f;
          box-shadow: 0px 1px 2px 2px #6f6f6f;
}

#b_1 .items .bg-cover {
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

#b_1 .items .bg-cover:hover {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}

#b_1 ul.post-info {
  list-style-type: none;
}

#b_1 ul.post-info li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  color: #1b1e21;
}

#b_1 ul.post-info li:not(:last-child) {
  position: relative;
  padding-right: 10px;
}

#b_1 ul.post-info li:not(:last-child):after {
  position: absolute;
  content: '|';
  right: 0;
  top: -1px;
}

#b_1 h4 {
  font-weight: bold;
  margin-bottom: 10px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#b_1 p {
  line-height: 20px;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#b_1 .read-more {
  background-color: #0062cc;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 3px;
}

#right-bar h6 {
  margin-top: 8px;
  background-color: #004085;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 3px;
}

#right-bar .services {
  list-style-type: none;
  padding: 10px;
}

#right-bar .services li {
  padding: 10px 0px;
}

#right-bar .services li a {
  width: 100%;
  color: #1b1e21;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#right-bar .services li a:hover {
  color: #0062cc;
}

#right-bar .search-bar {
  border: 1px solid #6f6f6f;
  border-radius: 3px;
}

#right-bar .search-bar input {
  width: 80%;
  border: none;
  padding: 0px 12px;
}

#right-bar .search-bar input:focus {
  outline: none;
}

#right-bar .search-bar button {
  width: 43px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border: none;
  background-color: #0062cc;
  color: white;
}

#right-bar .tags {
  float: left;
  padding: 8px 10px;
  background-color: #0062cc;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 3px;
}

#right-bar .tags a {
  color: white;
  font-size: 13px;
}

#right-bar .sc-nw i {
  width: 43px;
  height: 43px;
  background-color: #0062cc;
  text-align: center;
  line-height: 43px;
  color: white;
  border-right: 1px solid white;
}

#right-bar .sc-nw span {
  padding-left: 10px;
  font-size: 14px;
  color: white;
}

#bd_1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#bd_1 .items {
  -webkit-transition: .6s;
  transition: .6s;
}

#bd_1 .items .bg-cover {
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

#bd_1 .items .bg-cover:hover {
  -webkit-transform: scale(1.2) rotate(3deg);
          transform: scale(1.2) rotate(3deg);
}

#bd_1 ul.post-info {
  list-style-type: none;
}

#bd_1 ul.post-info li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  color: #1b1e21;
}

#bd_1 ul.post-info li:not(:last-child) {
  position: relative;
  padding-right: 10px;
}

#bd_1 ul.post-info li:not(:last-child):after {
  position: absolute;
  content: '|';
  right: 0;
  top: -1px;
}

#bd_1 h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 22px;
}

#bd_1 .read-more {
  background-color: #0062cc;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 3px;
}
