@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#menu #menu_top {
  background-color: #F2F2F2;
}

#menu #menu_top img.menu_logo {
  height: 50px;
}

#menu #menu_top ul.menu-search {
  display: block;
  height: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_top ul.menu-search li input {
  height: 49px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: none;
}

#menu #menu_top ul.menu-search li a {
  padding: 15px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 47px;
  float: left;
}

#menu #menu_logo_center img {
  width: inherit;
}

#menu #menu_bottom {
  background-color: green;
}

#menu #menu_bottom .is_active {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu {
  display: block;
}

#menu #menu_bottom ul.main_menu li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

#menu #menu_bottom ul.main_menu li i {
  color: white;
  font-size: 16px;
  padding-right: 6px;
}

#menu #menu_bottom ul.main_menu li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#menu #menu_bottom ul.main_menu li:hover {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu li.has-item-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: #f2b142;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 160%;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li {
  display: block;
  padding-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li:hover {
  padding-left: 20px;
}

#menu #menu_bottom ul.main_menu li.has-item-down:hover > ul {
  display: block;
  opacity: 1;
}

#menu #menu_bottom ul.main_menu ul.menu-search {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search {
  padding: 0;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search input {
  height: 46px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: 1px solid #019934;
  border-left: none;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search a {
  padding: 16px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 46px;
}
