.m-category-layout {
  display: inline-flex;
  flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  flex-basis: 160px !important;
  align-self: stretch;
  flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: flex;
  flex-direction: column;
  a {
    text-align: center;
    span {
      width: 100%;
      display: block;
    }
  }
}
@media screen and (max-width: 768px) {
  .m-category-layout{
    margin-top: 30px;
  }
}