#h_5{
  h5{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow-x: hidden;
  }
  .btn_next,.btn_pre{
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #f6af05;
    border:none;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  .project-items{
    .img{
      width: 100%;
      height: 186px;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    p{
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 10px;
    }
    a{
      font-size: 15px;
      color: #004085;
    }
    h6{
      font-weight: bold;
      color: #004085;
      font-size: 18px;
      margin-top: 13px;
      margin-bottom: 10px;
    }
  }
  .view-all{
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: #f6af05;
    padding: 12px 20px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

}

@media only screen and (max-width: 800px) {
  #h_5 {

  }
}