#h_6{
  h5{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow-x: hidden;
    border-bottom: 2px solid $main-color-sub;
    color: $main-color;
    padding-bottom: 5px;
    width: 100%;
  }
  #main-contain {
    background-color: white;
    .no-content{
      text-align: center;
      font-size: 18px;
      font-style: italic;
      width: 100%;
    }
    .main-blog {
      img {
        width: 100%;
        height: auto;
        border: 4px solid #f2f5f5;
      }
      h3 {
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 8px;
        margin-top: 5px;
        a {
          color: $main-color;
        }
      }
      p {
        font-size: 16px;
        max-height: 40px;
        line-height: 1.25;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .sub-blog {
      .img-sub-blogs {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 76px;
        height: 58px;
      }
      p {
        font-size: 16px;
        max-height: 40px;
        line-height: 1.25;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        a {
          color: #4f5151;
          -webkit-transition: .3s;
          transition: .3s;
          font-size: 16px;
        }
      }
    }
    .detail-blog {
      padding-bottom: 20px;
      .one-item:first-child{
        border-top: 4px solid $main-color !important;
        padding-top: 20px;
      }
      .one-item {
        a {
          .img-detail-blogs {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 186px;
            height: 138px;
            margin-right: 8px;
          }
        }
        h4{
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 8px;
          margin-top: 5px;
          a{
            color: #004085;
          }
        }
        p{
          font-size: 16px;
          max-height: 40px;
          line-height: 1.25;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        p.time{
          font-size: 15px;
          height: fit-content !important;
          margin-bottom: 6px;
          span{
            font-weight: bold;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .view-all{
    margin-top: 26px;
    margin-bottom: 20px;
    background-color: $sub-color-2;
    padding: 12px 20px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
}