#s_1{
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 200px;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
  padding-bottom: 50px;
  .bg-top{

  }
  h5{
    color: #1b1e21;
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    position: relative;
    padding-bottom: 10px;
    &:before{
      position: absolute;
      content: '';
      width: 68px;
      height: 3px;
      background-color: #1b1e21;
      left:50%;
      top: 100%;
      transform: translateX(-50%) skew(45deg);
    }
  }
  .items{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 186px;
  }
  .info{
    h4{
      font-size: 18px;
      color: #004085;
      font-weight: bold;
      margin-bottom: 16px;
    }
    p{
      font-size: 15px;
      color: #6f6f6f;
      margin-bottom: 16px;
      line-height: 16px;
    }
  }
  .footer{
    width: 100%;
    background-color: #eaeaea;
    font-size: 14px;
    color: #e39a08;
    a{
      color: #e39a08;
      font-weight: bold;
    }
  }
}