#bd_1{
  padding-top: 50px;
  padding-bottom: 50px;
  .items{
    transition: .6s;
    .bg-cover{
      transition: .6s;
      overflow: hidden;
      &:hover{
        transform: scale(1.2) rotate(3deg);
      }
    }
  }
  ul.post-info{
    list-style-type: none;
    li{
      display: inline-flex;
      font-size: 12px;
      font-weight: bold;
      color: #1b1e21;
      &:not(:last-child){
        position: relative;
        padding-right: 10px;
        &:after{
          position: absolute;
          content: '|';
          right: 0;
          top: -1px;
        }
      }
    }
  }
  h4{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .read-more{
    background-color: #0062cc;
    color: white;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 3px;
  }

}