#loiph-menu{
 .top-info{
   background-color: green;
   padding-top: 10px;
   padding-bottom: 10px;
   i{
     color: white;
     margin-right: 6px;
   }
   p{
     color: white;
     font-size: 14px;
   }
 }
  h4{
    font-size: 25px;
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
  }
  h6{
    font-size: 12px;
    color: #6f6f6f;
  }
  .main-menu{
    border-top: 1px solid #d7d3d3;
    box-shadow: 0px 2px 2px 0px #888888;
    ul{
      list-style-type: none;
      li{
        display: inline-flex;
        a{
          font-size: 17px;
          padding: 20px 12px;
          color: #1b1e21;
          font-family: 'Vollkorn SC', serif;
          transition: .6s;
          box-sizing: border-box;
          border-bottom: 2px solid white;
          border-top: 2px solid white;
          text-transform: uppercase;
          font-weight: bold;
          &:hover{
            background-color: #0062cc;
            color: white;
            border-bottom: 2px solid #0062cc;
            border-top: 2px solid #0062cc;
          }
        }
        .search{
          margin-left: 20px;
          border: 1px solid #d7d3d3;
          padding: 6px;
          border-radius: 16px;
          input{
            border: none;
            padding: 0px 10px;
            &:focus{
              outline: none;
            }
          }
          button{
            background: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
    .mobile-menu{
      i{
        font-size: 24px;
        color: #004085;
      }
      span{
        font-family: 'Vollkorn SC', serif;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
